{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Editar perfil" %}{% endblock %}

{% block content %}


    <h1>{% trans "Cambiar contraseña" %}</h1>
    <div class="alert alert-warning">{% trans "La sesión se cerrará al cambiar la contraseña" %}</div>

    <form method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="btn-change-password" type="submit">{% trans "Cambiar contraseña" %}</button>
    </form>


{% endblock %}

{% block footer %}
    
{% endblock %}


 