{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{{ grupo.name }}{% endblock %}

{% block content %}

<header id="grupo-header">
    {% if grupo.image %}
        <img class="grupo-img" src="{{ grupo.image.url }}" alt="Imagen del grupo {{ grupo.name }}">
    {% else %}
        
    {% endif %}

    <div>
        <h1 id="grupo-nombre">{{ grupo.name }}</h1>
        <p id="grupo-descripcion">{{ grupo.description }}</p>
    </div>
    
    <div id="acciones-miembros">
        <button href="{% url 'joinOrLeaveGroup' grupo.id %}" id="grupo-dejar" class="grupo-dejar">{% trans "Dejar" %}</button>
        <span id="grupo-miembros">{% trans "Miembros:" %} {{ miembros|length }}</span>
    </div>
</header>

<div class="centrado">
    <h2>{% trans "Crear post" %}</h2>
    <div id="div-nuevo-post-container">
        <div id="box-feedback"></div>
        {% csrf_token %}
        <div id="div-nuevo-post">
            <textarea type="text" id="contenido-post" name="contenido" placeholder="{% trans "¿Que estás pensando?" %}"></textarea>
            <button id="btn-emojis" class="far fa-smile"></button>
            <div id="box-emojis"></div>
        </div>
        
        <input type="button" id="enviar-post" value="Enviar">
    </div>

    <section id="muro">
        <article class="placeholder post">
            
        </article>
        <article class="placeholder post">
            
        </article>
        <article class="placeholder post">
            
        </article>
        <article class="placeholder post">
            
        </article>
    </section>
</div>

<script type="module" src="{% static 'js/grupo.js' %}"></script>


{% endblock %}
