{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{% trans "Reglas de los grupos" %}</h1>
    <p>
        Se prohíbe el acoso y el hostigamiento: No se tolerarán insultos, comentarios ofensivos, amenazas, discriminación, ni cualquier otro tipo de comportamiento que pueda ser considerado acoso o hostigamiento hacia otros usuarios.
    </p>
    <p>
        No se permiten contenidos ilegales o inapropiados: Se prohíbe publicar cualquier contenido que sea ilegal, que infrinja derechos de autor, que contenga pornografía, violencia o cualquier otro contenido inapropiado.
    </p>
    <p>
        Mantén la conversación respetuosa: Es importante que todos los usuarios respeten las opiniones de los demás, incluso si no están de acuerdo con ellas. Se prohíbe el uso de lenguaje vulgar o insultante.
    </p>
    <p>
        Publica en el grupo correcto: Cada grupo tiene un tema específico, por lo que se espera que los usuarios publiquen contenido que esté relacionado con el tema del grupo correspondiente.
    </p>
    <p>
        No hagas spam: No se permite publicar contenido repetido, publicar enlaces de afiliados o cualquier otro tipo de spam. Los usuarios que hagan spam serán expulsados de la comunidad.
    </p>
    <p>
        No compartas información personal: Para proteger la privacidad de todos los usuarios, no se permite compartir información personal como números de teléfono, direcciones o cualquier otro tipo de información personal.
    </p>
    <p>
        Sé respetuoso con los moderadores: Los moderadores trabajan arduamente para mantener una comunidad positiva y segura. Se espera que todos los usuarios respeten las decisiones de los moderadores y sigan las reglas establecidas por ellos.
    </p>
    <p>
        Cualquier usuario que no cumpla con estas reglas será advertido y, en casos graves, será expulsado de la comunidad. Esperamos que todos los usuarios se comporten de manera responsable y respetuosa para que podamos tener una experiencia positiva en nuestros grupos de lectura.
    </p>

{% endblock %}
